.container-fluid {	
	padding: 3% 22%;
}

h3 {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	font-family: 'Big Shoulders Display', cursive;
	color: hsl(0, 0%, 95%);

}

p {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	color: hsla(0, 0%, 100%, 0.75);
}

.column1 {
	background-color: hsl(31, 77%, 52%);
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.column2 {
	background-color: hsl(184, 100%, 22%);
}

.column3 {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.image_icon {
	padding-bottom: 15px;
	padding-top: 30px;
	padding-left: 30px;
}

.button1 {
	color: hsl(31, 77%, 52%);
}

.button1:hover {
	background-color: hsl(31, 77%, 52%);
	color: hsla(0, 0%, 100%, 0.75); 
}

.button2 {
	color: hsl(184, 100%, 22%);
}

.button2:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsla(0, 0%, 100%, 0.75); 
}

.button3 {
	color: hsl(179, 100%, 13%);
}

.button3:hover {
	background-color: hsl(179, 100%, 13%);
	color: hsla(0, 0%, 100%, 0.75); 
}

.btn_all {
	margin-bottom: 30px;
	margin-top: 75px;
	margin-left: 30px;
	padding: 10px 25px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	background-color: hsl(0, 0%, 95%);
}

@media (max-width: 576px) {

	.column1 {
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 0px;
	}

	.column3 {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top-right-radius: 0px;
	}
	
}
